<div class="nav">
<table height="440">
<tr>
<td height="46"> <a href="{% url 'userhome' %}"> Home </a> </td>
</tr>
<tr>
<td height="61"><a href="{% url 'composemail' %}"> Composemail </a></td>
<tr>
<tr>
<td height="59"> <a href="{% url 'inbox' %}"> Inbox </a> </td>
</tr>
<tr>
<td height="70"> <a href="{% url 'savedmails' %}"> Savemails </a> </td>
</tr>
<tr>
<td height="76"> <a href="{% url 'addcontact' %}"> Add Contacts </a> </td>
</tr>
<tr>
<td height="55"> <a href="{% url 'spam' %}"> Spam </a> </td>
</tr>
<tr>
<td height="55"> <a href="{% url 'logout' %}"> Logout </a> </td>
</tr>
</table>


</div>