{% extends 'user/basereg.html' %}
{% block title %} Mail|User|Forgot Password {% endblock %}

{% block pagecontent %}
<form action="{% url 'changeforgotpas' %}" method="post" class="box">
{% csrf_token %}


<h2> Forgot Password </h2>


    <input type="text" name="txtuser" id="txtuser" placeholder="Username">
           
   
 
     <select name="ddlques" id="ddlques">
        <option value="00"> Security Question </option>
        
{% for n in data %}

        <option value="{{ n.Security_Question }}"> {{ n.Security_Question }} </option>
        
{% endfor %}

      </select>
	    <input type="text" name="txtans" id="txtans" placeholder="Answer"> 
       
      
        
          <input type="submit" name="btnsav" id="btnsav" value="Submit"> 
	{% if msg %}
 <script type="text/javascript">
alert("Sorry the answer you are ender is wrong")
</script>
{% endif %}






</form>


{% endblock %}
