
{% extends 'user/basereg.html' %}
{% block title %} Mail|User|New Password {% endblock %}


{% block pagecontent %}

<form action="{% url 'setnewpass' %}" method="post" class="box">
{% csrf_token %}

<h2> Enter New Password </h2>
 <input type="text" name="txtuser" id="txtuser" readonly="txtuser" value="{{data}}">
 <input type="text" name="txtnewpas" id="txtnewpas" placeholder="New Password"> 
 <input type="text" name="txtconpas" id="txtconpas" placeholder="Conform Password"> 
 <input type="submit" name="btnsav" id="btnsav" value="save"> 
      
	{% if msg %}
<script type="text/javascript">
alert("Sorry Password is not matching")
</script> 
{% endif %}

</form>
{% endblock %}